{% extends 'blog/base.html' %}

 
{% block title %}{{ title }}{% endblock title %}
{% block header %}
    <div class="hero">
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
    </div>
{% endblock header %}
{% block content %}
<div class="grid">
    {% for post in posts %}
    <div class="tile">
        <div class="post" id="{{ count }}">
            <p>{{ post.published_date|date:"d M Y" }}</p>
            <h3>{{ post.title }}</h3>
            <div class="post-body">{{ post.text|truncatechars:100|linebreaksbr }}</div>
            <a href="" class="more-button">ЧИТАТЬ</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


