html, 
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin-bottom: 0.75em;
    line-height: 1.2;
}
p {
    margin-bottom: 0.5em;
}
.layuot {

}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;

}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 180px;
    padding: 1.5em 0;
    background-color: #f9f9f9;
    margin-bottom: 5em;
}
.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 40px;
    flex: 1;
}

.container.container--md {
    max-width: 1000px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
}

.tile {
    display: block;
    width: 33.333%;
    padding-left: 20px;
    padding-top: 20px; 
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 28px;
    height: 100%;
    min-height: 240px;
    transition: border-color 0.2s;
}
.post:hover {
    border-color: #999;
}

.more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 2.5em;
    font-size: 87.5%;
    font-weight: 500;
    background-color: #f4f4f4;
    color: #787878;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border: 0;
    text-transform: uppercase;
}

.more-button:hover {
    background-color: #f7f7f7;
    color: #454545;
}

.post-body{
    flex: 1;
    padding-bottom: 20px;
}

/* Forms */
[type*="text"],
[type*="email"],
[type*="password"],
[type*="phone"]{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 1.25em;
    font-size: 100%;
    border: 1px solid #ccc;
    min-width: 340px;
}
[type*="text"]:focus,
[type*="email"]:focus,
[type*="password"]:focus,
[type*="phone"]:focus {
    border: 1px solid #999;
    outline: none;
}
textarea {
    display: flex;
    min-width: 340px;
    padding: 1.25em;
    border: 1px solid #ccc;
}
textarea:focus {
    border: 1px solid #999;
    outline: none;
}